Repository errbotio/errbot, pull requests merged in 2019-07, with the labels that each got.

#1351 test: Rename assertCommand -> assertInCommand
  docs/user_guide/plugin_development/testing.rst
  errbot/backends/test.py
  tests/commands_test.py
Labels: #tests

#1347 Reload plugin class source
  errbot/plugin_manager.py
Labels: #plugins, type: bug

#1336 Remove empty "text" body on Slack send_card
  errbot/backends/slack.py
Labels: #Slack, type: bug

#1342 chore: Move all tox environments to use py37
  .travis.yml
  tox.ini
Labels: #tests, type: feature
